@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&family=Titillium+Web:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
